
form{
    width:500px;
    margin: 20px auto;
}

label {
    width: 150px;
    display: inline-block;
    background-color: #11738e;
    color: white;
    font-size: 20px;
    font-family: Times New Roman;
    padding: 4px;
    border: 1px solid #6cadd3;
}

input {
    margin: 4px;
    font-size: 20px;
    font-family: Times New Roman;
}
input:focus{
    background-color:rgba(225, 201, 201, 0.80);
}
em{
    color:red;
    font-weight:bolder;
}

fieldset {
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #6cadd3;
}

legend{
    font: bold 20px Arial;
}
